body{
    color: #777;
    background-color: pink;
    font-family: 'Yesteryear', cursive;
}
.jumbotron{
    background-color: pink;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 0;
}
.anyKey{
    color: white;
    text-align: center;
    font-size: 50px;
}
.container{
    text-align: center;
    margin: 1px auto;
}
.underScore{
    font-size: 60px;
    padding: 20px;
}
.strikes{
    width: 300px;
}
.wrongLetters{
    height: 80px;
    font-size: 60px;
}
.wrongGuess{
    height: 40px;
}
button{
    margin-top: 10px;
    font-size: 30px;
    height: 50px;
    width: 175px;
    background-color:white;
    border: 2px dotted #777;
}
/*most smart phones*/
@media screen and (max-width: 640px) {
    .underScore {
      font-size: 40px;
    }
    .wrongLetters{
        height: 40px;
        font-size: 30px;
    }
    .anyKey{
        font-size: 40px;
    }
}
/* for iphone 5*/
@media screen and (max-width: 321px) {         
    h2{
        font-size: 25px;
    }
    .anyKey{
        font-size: 30px;
    }
    .jumbotron{
        padding-top: 15px;
    }
    button{
        margin-top:0;
    }
}
