

.jumbotron{
    text-align: center;
    padding: 10px;
    background: url('/assets/images/1920x1080-the-curse-of-the-27-club-why-do-364x245.jpg') no-repeat center center;
}
.anyKey{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 50px;
}
.container{
    text-align: center;
    border: 3px solid black;
    margin: 1px auto;
}
.underScore{
    font-size: 40px;
    padding: 20px;
}
.wrongLetters{
    padding: 10px;
    height: 40px;
}
.wrongGuess{
    height: 40px;
}
button{
    margin: 10px;
}